html,
body {
    height: 100%;
    width: 100%;
}

.wrap {
    width: 100%;
    min-height: 1000PX;
    background-color: #fff;
}

.wrap .con {
    margin: 30px auto;
    width: 988px;
    min-height: 100px;
    position: relative;
}

.wrap .con .count_box {
    height: 38.5px;
    margin-top: 10px;
    line-height: 37px;

}

.wrap .con .count_box .count_num_box {
    border-bottom: 1px solid #e2231a;
    box-sizing: border-box;
}

.wrap .con .count_box .count_num_box i {
    font-size: 16px;
    color: #e2231a;
    font-weight: bolder;
}

.wrap .con .count_box .count_num_box .count_num {
    font-size: 14px;
    color: #e2231a;
}

.wrap .con .header {
    height: 32px;
    line-height: 32px;
    padding: 5px 0;
    border: 1px solid #e9e9e9;
    background: #f3f3f3;
}

.wrap .con .header .header_left .cart-checkbox {
    float: left;
    margin-right: 20px;
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}

.wrap .con .header .header_left .column {
    float: left;
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
}

.wrap .con .header .header_left .t-goods {
    width: 208px;
}

.wrap .con .header .header_left .t-props {
    width: 140px;
    padding: 0 10px 0 20px;
}

.t-price {
    width: 120px;
    padding-right: 40px;
    text-align: right;
}

.t-quantity {
    width: 80px;
}

.t-sum {
    width: 100px;
    padding-right: 40px;

}

.t-action {
    width: 75px;
    text-align: left;
}

.goods_cart_box {
    margin-top: 20px;
    border-style: solid;
    border-width: 2px 1px 1px;
    _border-width: 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}

.goods_cart_box .goods_con {
    padding-left: 40px;
    height: 117px;
    position: relative;
    border-bottom: 1px solid;
}

.goods_cart_box .goods_con .cart-checkbox {
    position: absolute;
    left: 10px;
    top: 0;
    width: 30px;
    min-height: 10px;
    padding: 15px 0 10px 0;
}

.goods_cart_box .goods_con .cart-item li {
    float: left;
}

.goods_cart_box .goods_con .cart-item .p-img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    text-align: center;
    padding: 15px 0 0;
    margin-left: 10px;
}

.goods_cart_box .goods_con .cart-item .p-img img {
    height: 80px;
    width: 80px;
    display: block;
}



.goods_cart_box .goods_con .cart-item .goods .icon-box .icon {
    display: inline-block;
    width: 17px;
    height: 16px;
    vertical-align: middle;
    overflow: hidden;
    background: url(../img/cart-icons-202004.png) no-repeat;
    background-position: 0 -23px;
}

.goods_cart_box .goods_con .cart-item .goods .icon-box a {
    padding: 1px 4px 0 7px;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: #aaa;
}

.goods_cart_box .goods_con .cart-item .goods .msg {
    width: 200px;
    padding: 15px 0 0;
    line-height: 20px;
    color: #333;
}

.goods_cart_box .goods_con .cart-item .props {
    padding: 15px 0 0 20px;
    height: 20px;
    line-height: 20px;
    width: 130px;
    color: #666;
}

.goods_cart_box .goods_con .cart-item .price {
    width: 150px;
    height: 25px;
    text-align: right;
    padding: 15px 40px 10px 0;
    color: #333;
}

.goods_cart_box .goods_con .cart-item .quantity {
    width: 82px;
    height: 42px;
    padding: 15px 0 10px 0;

}

.goods_cart_box .goods_con .cart-item .quantity .btns input {
    width: 46px;
    border: 0;
    border: 1px solid #cacbcb;
    padding: 0;
    height: 18px;
    text-align: center;
    border-left: none;
    border-right: none;
}

.goods_cart_box .goods_con .cart-item .quantity .btns a {
    display: block;
    height: 18px;
    width: 16px;
    border: 1px solid #cacbcb;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}

.goods_cart_box .goods_con .cart-item .quantity .txt {
    height: 20px;
    width: 82px;
    line-height: 20px;
    text-align: center;
    color: #aaa;
}

.goods_cart_box .goods_con .cart-item .sum {
    height: 20px;
    width: 100px;
    line-height: 20px;
    text-align: right;
    padding: 15px 40px 10px 0;
    color: #333;
    font-weight: 700;
}

.goods_cart_box .goods_con .cart-item .action {
    height: 40px;
    width: 74px;
    padding: 15px 0 0 10px;

}

.goods_cart_box .goods_con .cart-item .action a {
    line-height: 20px;
    color: #666;
    display: block;
}

.goods_cart_box .goods_con .cart-item .action a:hover {
    color: #E2231A;
}

.bottom {
    /* position: fixed; */
    width: 100%;
    min-height: 50px;
    background: #fff;
}
.botFixed{
    position: fixed;
    box-shadow: 0 -1px 8px rgba(0, 1, 1, .08);
    bottom: 0;
}
.bottom .botCon {
    width: 988px;
    height: 50px;
    border: 1px solid #f0f0f0;
    background: #fff;
    margin: auto;
    
}

.bottom .botCon .botConLeft {
    line-height: 50px;
    float: left;
    background: #fff;
}

.bottom .botCon .botConLeft li {
    float: left;
    margin-right: 5px;
}

.bottom .botCon .botConLeft li a {
    color: #666;
}

.bottom .botCon .botConLeft li:last-child a {
    font-weight: bolder;
}

.bottom .botCon .botConLeft li input {
    margin-right: 5px;
}

.bottom .botCon .botConRight li {
    float: left;
}

.bottom .botCon .botConRight .js-btn {
    position: relative;
    width: 94px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    background: #e54346;
    overflow: hidden;
    cursor: pointer;
}

.bottom .botCon .botConRight .checkCount {
    padding-top: 12px;
    color: #999;
}

.bottom .botCon .botConRight .checkCount .num{
    color: #E2231A;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
}

.bottom .botCon .botConRight .totalPrice {
    margin: 7px 5px 0 15px;
    height: 43px;
    color: #666;
    position: relative;
}

.bottom .botCon .botConRight .totalPrice .totalTit {
    width: 50px;
    line-height: 20px;
    height: 20px;
    text-align: right;
}

.bottom .botCon .botConRight .totalPrice .money {   
    font-size: 16px;
    color: #E2231A;
    font-weight: 700;
}

.bottom .botCon .botConRight .totalPrice .cuxiao{
    position: absolute;
    right: 0;
    width: auto;
    text-align: right;
    padding-right: 5px;
}

.bottom .botCon .botConRight .totalPrice .icon{
    vertical-align: text-bottom;
    display: inline-block;
    height: 18px;
    width: 12px;
    background: url(//misc.360buyimg.com/user/cart/css/i/price-tips.png) 0 0 no-repeat;
}




.bottom .botCon .botConRight .checkCount .icon{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 9px;
    height: 5px;
    background: url(//misc.360buyimg.com/user/cart/css/i/cart-icons-202004.png) -45px -91px;
    overflow: hidden;
    vertical-align: middle;
    margin: -5px 0 0 5px;
    -webkit-transition: all .2s ease-in 0s;
    transition: all .2s ease-in 0s;
}